.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 4px solid var(--holb-red);
}

.App-header h1 {
  max-width: fit-content;
  color: var(--holb-red);
}