* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --holb-red: #FF0000;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 4px solid var(--holb-red);
}

.App-header h1 {
  max-width: fit-content;
  color: var(--holb-red);
}

/* App-body */

.App-body {
  min-height: 60vmin;
  padding: 32px;
}

.App-body p {
  font-weight: bold;
}

/* App-footer */

.App-footer {
  font-style: italic;
  border-top: 4px solid var(--holb-red);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vmin;
}